.contactForm 
    .container 
        .message__form
            h2 Связаться с нами  
            input(type="text" placeholder="Ваше имя") 
            input(type="text" placeholder="Ваш адрес электронной почты") 
            input(type="text" placeholder="Ваш телефон")
            textarea(name="message" tabindex="375" rows="4" placeholder="Введите свое сообщение ...")

            button Отправить сообщение