.footer
    .container  
        .about 
            h3 О НАС
            p Наша проектная организация выполнит грамотное архитектурное и инженерное проектирование, визуализацию жилых, хозяйственных и общественных объектов по разумным ценам.

        .contacts
            h3 КОНТАКТЫ  
            .addressOne
                img(src="../img/building.svg", alt="")
                p  Тольятти, ул. Автозаводское ш. 22А
            .addressTwo 
                img(src="../img/building.svg", alt="")
                p   Самара, ул. Ташкентская д.117
            .phone 
                img(src="../img/phone.svg", alt="")
                p  8(962)523-44-25
            .mail 
                img(src="../img/mail.svg", alt="")
                p dp-ru@list.ru
            //- .socialPage 
            //-     .vk
            //-         img(src="../img/вконтакте.svg", alt="")
            //-     .fb 
            //-         img(src="../img/facebook", alt="")
            //-     .twitt 
            //-         img(src="../img/twitter.svg", alt="")
            //-     .odnk 
            //-         img(src="../img/odnoklassniki.svg", alt="")
            //-     .inst 
            //-         img(src="../img/instagram.svg", alt="")
        .footerTitle
            h3 Проектирование и Дизайн | 2015-2021
            img(src="https%3A//designs-projects.ru/;s1536*864*24;uhttps%3A//designs-projects.ru/;h%u041F%u0440%u043E%u0435%u043A%u0442%u0438%u0440%u043E%u0432%u0430%u043D%u0438%u0435%20%u0434%u043E%u043C%u043E%u0432%20%u0438%20%u0433%u043E%u0441%u0442%u0438%u043D%u0438%u0446%2C%20%u0431%u0430%u043D%u044C%20%u0438%20%u043E%u0442%u0435%u043B%u0435%u0439%20%u043F%u043E%20%u043D%u0438%u0437%u043A%u0438%u043C%20%u0446%u0435%u043D%u0430%u043C;0.18482807933343803", alt="")
            