.headerPage
    .container 
        .headerInfo
            h1 ИНДИВИДУАЛЬНОЕ ПРОЕКТИРОВАНИЕ ДОМОВ, ГОСТИНИЦ, БАНЬ, ПРОДАЖА ТИПОВЫХ ПРОЕКТОВ
            span 
            p Наша архитектурная компания осуществляет проектирование зданий любых типов и любого уровня сложности для российских и зарубежных клиентов. Начиная с концепции и заканчивая рабочими чертежами для строителей, мы оформляем всю необходимую документацию, а также можем помочь её согласовать и пройти государственную экспертизу.
            h2 МЫ ПРОЕКТИРУЕМ
            .headerInfoProject 
                p Дома и коттеджи
                p Бани и сауны
                p Рестораны и кафе
                p Санатории и СПА
                p Гостиницы, отели
                p Больницы, школы
                p Многоквартирные дома
                p Культовые сооружения
                p Интернаты, дома престарелых