.projectNew 
    .container 
        h2 СВЕЖИЕ ПРОЕКТЫ
        .projectNewItems 
            .projectNewItem
                a(href="#") 
                    img(, src="https://designs-projects.ru/wp-content/webpc-passthru.php?src=https://designs-projects.ru/wp-content/uploads/2022/05/1.-525x328.jpg&nocache=1", alt="")
                    h4  Проект жилого дома из сухого профилированного бруса «ТУ... 
                    .projectNewItemDetail
                        span.size 
                        p 82,00 m
                        sup 2
                        span.bed 
                        p 2
                    p.paragraph  Проект жилого дома из сухого профилированного бруса «ТУЛА» выполнен в классическом деревянном стиле. Дом для кругло  
            .projectNewItem
                a(href="#") 
                    img(src="https://designs-projects.ru/wp-content/webpc-passthru.php?src=https://designs-projects.ru/wp-content/uploads/2022/05/1-525x328.jpg&nocache=1", alt="")
                    h4   Проект дачного дома из сухого профилированного бруса «Б... 
                    .projectNewItemDetail
                        span.size 
                        p 83,00 m
                        sup 2
                        
                    p.paragraph   Проект дачного дома из сухого профилированного бруса «Барнаул» выполнен в стиле шале, и предназначен для летнего от   
            .projectNewItem
                a(href="#") 
                    img(src="https://designs-projects.ru/wp-content/webpc-passthru.php?src=https://designs-projects.ru/wp-content/uploads/2022/04/8-2-525x328.jpg&nocache=1", alt="")
                    h4  Проект жилого дома из стоящий профилированного бруса «А...  
                    .projectNewItemDetail
                        span.size 
                        p 130,00 m
                        sup 2
                        span.bed 
                        p 2
                    p.paragraph  Проект жилого дома из стоящий профилированного бруса «Аглос» выполнен в стиле шале. Планировка приспособлена для ко   
            .projectNewItem
                a(href="#") 
                    img(src="https://designs-projects.ru/wp-content/webpc-passthru.php?src=https://designs-projects.ru/wp-content/uploads/2022/04/11-1-525x328.jpg&nocache=1", alt="")
                    h4   Проект дачного дома из оцилиндрованного бревна в класси... 
                    .projectNewItemDetail
                        
                    p.paragraph   Проект дачного дома из оцилиндрованного бревна в классическом русском деревянном стиле «Сызрань» предназначен для л  
        button загрузить больше записей 